<template name="header">
  {{#if siteReady}}
    {{#if isAdminSite}}
      {{> adminHeader}}
    {{else}} {{#if isPatientSite}}
      {{> patientHeader}}
    {{/if}}
    {{#if isStaffSite}}
      {{> staffHeader}}
      {{> officeHeader}}
  {{/if}}{{/if}}{{/if}}
</template>

<template name="patientHeader">
  {{#if isInRole getRoles.AnyPatient}}
  <ul class="nav navbar-nav">
    <li class="{{routeIs 'patientIndex'}}"><a href="{{pathFor 'patientIndex'}}">Strona główna</a></li>
    <li class="dropdown {{routeIs 'editPatient'}} {{routeIs 'patientVisit'}}">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Możliwe działania <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="{{pathFor 'editPatient'}}">Zmień swoje dane</a></li>
        {{#if isInRole getRoles.Patient}}
          <li><a href="{{pathFor 'patientVisit'}}">Zarządzaj wizytami</a></li>
          <li><a href="{{pathFor 'showHistory' _id=currentUser._id}}">Przeglądaj historię</a></li>
        {{/if}}
      </ul>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="#" class="logout">Wyloguj się</a></li>
  </ul>
  {{else}}
  <ul class="nav navbar-nav">
    <li class="{{routeIs 'patientIndex'}}"><a href="{{pathFor 'patientIndex'}}">Strona główna</a></li>
    <li class="{{routeIs 'addPatient'}}"><a href="{{pathFor 'addPatient'}}">Zarejestruj się</a></li>
  </ul>
  {{/if}}
</template>

<template name="adminHeader">
  {{#if isInRole getRoles.Admin}}
  <ul class="nav navbar-nav">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Zarządzaj personelem <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="{{pathFor 'addStaff'}}">Dodaj pracownika</a></li>
        <li><a href="#">Edytuj/usuń pracownika</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Zarządzaj pacjentami <b class="caret"></b></a>
      <ul class="dropdown-menu">
        {{#with role=getRoles.Admin}}
        <li><a href="{{pathFor 'addPatient'}}">Dodaj pacjenta</a></li>
        <li><a href="{{pathFor 'showPatient'}}">Zmień/wyszukaj dane pacjenta</a></li>
        {{/with}}
        <li><a href="#">Usuń dane pacjenta</a></li>
      </ul>
    </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" class="logout">Wyloguj się</a></li>
    </ul>
  {{else}}
  <ul class="nav navbar-nav">
    <li class="active"><a href="#">Zaloguj się</a></li>
  </ul>
  {{/if}}
  
</template>

<template name="staffHeader">
  {{#if isInRole getRoles.Staff}} 
  <ul class="nav navbar-nav">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Zarządzaj wizytami <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="{{pathFor 'confirmVisits'}}">Potwierdź wizyty</a></li>
        <li><a href="{{pathFor 'viewVisits'}}">Przeglądaj wizyty</a></li>
      </ul>
    </li>
    <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Zarządzaj pacjentami <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="{{pathFor 'showPatient' role=getRoles.Staff}}">Zmień/wyszukaj dane pacjenta</a></li>
      </ul>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="#" class="logout">Wyloguj się</a></li>
  </ul>
  {{else}} {{#unless isInRole getRoles.Office}}
  <ul class="nav navbar-nav">
    <li class="active"><a href="#">Zaloguj się</a></li>
  </ul>
  {{/unless}}{{/if}}
  </template>

  <template name="officeHeader">
    {{#if isInRole getRoles.Office}}
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Zarządzaj pacjentami<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{{pathFor 'addPatient' role=getRoles.Staff}}">Dodaj pacjenta</a></li>
          <li><a href="{{pathFor 'showPatient' role=getRoles.Staff}}">Zmień/wyszukaj dane pacjenta</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Zarządzaj wizytami <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{{pathFor 'confirmVisits'}}">Potwierdź wizyty</a></li>
          <li><a href="{{pathFor 'viewVisits'}}">Przeglądaj wizyty</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" class="logout">Wyloguj się</a></li>
    </ul>
    {{/if}}
  </template>