<template name="patientIndex">
    <div class="row grey">
        {{#if currentUser}}
            <div class="col-md-7">
                <h1>Szanowny Pacjencie</h1>
                <p>
                    Możesz teraz wybrać jedną z opcji za pomocą przycisków lub na pasku z linkami u góry strony.<br><br>
                    {{#if isInRole getRoles.PatientTobe}}
                        <strong>Ponieważ Twoje konto jest niepotwierdzone, nie możesz umówić się na wizytę.</strong>
                    {{/if}}
                </p>
            </div>
            <div class="col-md-5">
                <div class="col-sm-10">
                    {{#unless isInRole getRoles.PatientTobe}}
                        <a style="margin: 15px 0px 15px; width: 100%" href="{{pathFor 'editPatient'}}" class="btn btn-lg btn-info">Zmień swoje dane &raquo;</a> 
                        {{#if isInRole getRoles.Patient}}<a style="width: 100%" href="{{pathFor 'patientVisit'}}" class="btn btn-lg btn-primary">Zarządzaj wizytami &raquo;</a>{{/if}}
                    {{else}}
                        <a style="margin: 15px 0px 15px; width: 100%" href="{{pathFor 'editPatient'}}" class="btn btn-lg btn-primary">Zmień swoje dane &raquo;</a> 
                        <a style="width: 100%" href="{{pathFor 'patientVisit'}}" class="btn btn-lg btn-primary" disabled>Zarządzaj wizytami &raquo;</a> 
                    {{/unless}}
                </div>
            </div>
    	
        {{else}}
        <div class="col-md-7">
           <h1>Szanowny Pacjencie</h1>
           <p>Witaj na stronie systemu ePrzychodnia. Aby skorzystać z usług oferowanych przez platformę zaloguj się. Jeżeli nie posiadasz konta w serwisie musisz najpierw się zarejestrować i potwierdzić swoje konto.</p>
        </div>
        <div class="col-md-5">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="text" name="email" class="form-control" placeholder="Email lub PESEL">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input type="password" name="password" class="form-control" placeholder="Hasło">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 login-buttons">
                        <button id="login" type="submit" class="btn btn-success btn-lg">Zaloguj się &raquo;</button><br> a jeżeli jeszcze nie posiadasz konta w serwisie<br>
                        <a id="signup" href="{{pathFor 'addPatient'}}" class="btn btn-primary btn-lg">Zarejestruj się &raquo;</a>
                    </div>
                </div>
            </form>
        </div>    
        {{/if}}
     </div>
</template>