body {
	padding-top: 50px;
}

.grey {
	background-color: #eeeeee;
	padding-top: 20px;
}

.grey h1 {
	margin-top: 0px;
}

#spinner { height: 300px }

#patientData {
	margin-top: 25px;
}

#patientData td, #patientData th {
	text-align: center;
	vertical-align: middle;
}

.datepicker-dropdown {
	margin-top: 30px;
}

input.datepicker {
	padding: 6px 12px;
}

.popover-content input {
	margin: 0px 0px 10px;
}

.highlight {
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    border-radius: 4px;
    margin-bottom: 14px;
    padding: 9px 14px;
}

.twitter-typeahead {
	display: block !important;
}

.tt-dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 8px 2px;
    width: 100%;
    overflow-y: scroll;
    max-height: 300px;
}

.tt-suggestion {
    font-size: 14px;
    line-height: 20px;
    padding: 3px 10px;
}
.tt-suggestion.tt-cursor {
    background-color: #0097CF;
    color: #FFFFFF;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}

a.remove {
	margin: 0px 0px 0px 4px;
}

.panel a.btn.btn-success {
    padding: 5px 10px;
}

.panel .col-sm-6:nth-child(2) {
    text-align: right;
}

.login-buttons button, .login-buttons a {
    margin: 10px 0px;
    width: 100%;
}

.login-buttons #login {
    margin: 0px 0px 10px;
}

tr.notconfirmed {
    background-color: #ffefef;   
}