<template name="adminIndex">
    <div class="row grey">
    	<div class="{{#if isInRole getRoles.Admin}}col-md-10 {{else}}col-md-7{{/if}}">
	       <h1>Panel administracyjny</h1>
	       <p>Witaj na stronie panelu administracyjnego systemu ePrzychodnia. 
           {{#if isInRole getRoles.Admin}}
               Funkcje panelu są wymienione na pasku z linkami na górze strony.
           {{else}}
               Zaloguj się, aby skorzystać z oferowanych funkcji administracyjnych. {{bla}}
            {{/if}}
            </p>
    	</div>
        {{#unless isInRole getRoles.Admin}}
    	<div class="col-md-5">
    		<form class="form-horizontal" role="form">
    			<div class="form-group">
    			<div class="col-sm-10">
    					<input name="email" type="text" class="form-control" placeholder="Email">
    				</div>
    			</div>
    			<div class="form-group">
    				<div class="col-sm-10">
    					<input name="password" type="password" class="form-control" placeholder="Hasło">
    				</div>
    			</div>
    			<div class="form-group">
    				<div class="col-sm-10">
    					<button type="submit" class="btn btn-success">Zaloguj się &raquo;</button>
    				</div>
    			</div>
    		</form>

    	</div>
        {{/unless}}
     </div>
</template>