<template name="adminIndex">
    <div class="row grey">
    	<div class="col-md-7">
	       <h1>Panel administracyjny</h1>
	       <p>Witaj na stronie panelu administracyjnego systemu ePrzychodnia. Zaloguj się, aby skorzystać z oferowanych funkcji administracyjnych.</p>
    	</div>
    	<div class="col-md-5">
    		<form class="form-horizontal" role="form">
    			<div class="form-group">
    			<div class="col-sm-10">
    					<input name="email" type="text" class="form-control" placeholder="Email">
    				</div>
    			</div>
    			<div class="form-group">
    				<div class="col-sm-10">
    					<input name="password" type="password" class="form-control" placeholder="Hasło">
    				</div>
    			</div>
    			<div class="form-group">
    				<div class="col-sm-10">
    					<button type="submit" class="btn btn-success">Zaloguj się &raquo;</button>
    				</div>
    			</div>
    		</form>

    	</div>
     </div>
</template>