<template name="showPatient">
	<div class="container">
		<div class="page-header">
			<h1>Wyszukaj dane pacjenta</h1>
		</div>
		<form role="form" id="showPatient" class="form-horizontal">
			<div class="form-group">
					<div class="col-sm-5"><input name="id" class="form-control" type="text" placeholder="Identyfikator"></div>
				</div>
				<div class="form-group">
					<div class="col-sm-5"><input name="pesel" class="form-control" type="text" placeholder="PESEL"></div>
				</div>	
				<button class="btn btn-primary" type="submit">Wyszukaj pacjenta &raquo;</button>
		</form>
	</div>
</template>