<template name="showPatient">
	<div class="container">
		<div class="page-header">
			<h1>Wyszukaj dane pacjenta</h1>
		</div>
		<form role="form" id="showPatient" class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-5"><input name="id" class="form-control" type="text" placeholder="Identyfikator"></div>
			</div>
			<div class="form-group">
				<div class="col-sm-5"><input name="pesel" class="form-control" type="text" placeholder="PESEL"></div>
			</div>	
			<div class="form-group">
				<div class="col-sm-5"><input name="lastname" class="form-control" type="text" placeholder="Nazwisko"></div>
			</div>
			<div class="form-group">
				<div class="col-sm-5"><input name="age" class="form-control" type="text" placeholder="Wiek"></div>
			</div>
			<button class="btn btn-primary" type="submit" disabled>Wyszukaj pacjenta &raquo;</button>
		</form>
		<div class="patientsSearch">
			
		</div>
	</div>
</template>

<template name="patientsSearch">
	{{#if patients}}
		<table id="patientData" class="table table-striped table-bordered">
			<tbody>
				<tr>
					<th>Identyfikator</th>
					<th>Imię</th>
					<th>Nazwisko</th>
					<th>PESEL</th>
					<th>Płeć</th>
					<th>Wiek</th>
					<th>Miejsce urodzenia</th>
					<th>Dane dokumentu</th>
					<th>Dane kontaktowe</th>
					<th>Akcje</th>
				</tr>	
				{{#each patients}}
					{{> patientSearch}}
				{{/each}}
			</tbody>
		</table>
	{{/if}}
</template>

<template name="patientSearch">
	<tr class="{{notconfirmed}}">
		<td>{{_id}}</td>
		<td>{{profile.firstname}}</td>
		<td>{{profile.lastname}}</td>
		<td>{{username}}</td>
		<td>{{gender}}</td>
		<td>{{age}}</td>
		<td>{{profile.birth_place}}</td>
		<td>{{profile.document_series}} {{profile.document_number}}</td>
		<td><a role="button" data-content="Telefon: {{profile.contact.phone}} <br> Email: {{email}}<br><br><b>Kogo zawiadomić?</b> <br>Imię: {{profile.trusted.firstname}} <br> Nazwisko: {{profile.trusted.lastname}}<br>Telefon: {{profile.trusted.phone}}" title="" data-toggle="popover" class="extend btn btn-default" href="#" data-original-title="Dane kontaktowe">Rozwiń</a></td>
		{{#if notconfirmed}}
			<td><a class="confirm btn btn-default" href="#">Potwierdź &raquo;</a></td>
		{{else}}
			<td>
				<div class="btn-group">
					<a href="{{pathFor 'showHistory' _id=this._id role='staff'}}" class="btn btn-default">Historia &raquo;</a>
					<a href="{{pathFor 'editPatient' _id=this._id role='staff'}}" class="btn btn-default">Edytuj &raquo;</a>
				</div>
			</td>
		{{/if}}

	</tr>
</template>